django 
djangorestframework 
djangorestframework-simplejwt 
psycopg2
psycopg2-binary
django-cors-headers
pytest-django
pytest
pytest_bdd
selenium>=4.10.0
webdriver_manager
pyvirtualdisplay
faker
coverage